/**
 * Base - Images
 */

/*
normal image sizing
(only responsive when the holder gets smaller than the img)
*/
img {
   width: 100%;
   max-width: 100%;
   height: auto;
   vertical-align: $img-vertical-align;
   display: block;
}

img.fit,
.fit img {
   width: 100%;
   max-width: 100%;
}

picture {
   display: block;
}

/*
Google maps fix
https://github.com/inuitcss/base.images/blob/master/_base.images.scss
.gm-style img,
img[width],
img[height] {
  max-width: none;
}
*/

.img--round {
    display: inline-block;
    border: $base-border-width $base-border-style $aa-color-4;
    border-radius: 50%;
    width: 75%;

    // Use the same breakpoint as the grid
    @media only screen and (min-width: $bp-grid-cols) {
      width: 100%;
    }

}
