/**
 * Components - buttons
 */

// base button

/*
The button element styled in vendor/form-hack
It will use most of these styles, but will stay there
to avoid any conflict.
*/
.button,
button,
input[type="submit"] {
  display: inline-block;
  color: $button-color;
  background: $button-background-color;
  text-decoration: none;
  text-transform: $button-text-transform;
  text-align: center;
  font-family: $sans;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  letter-spacing: $button-letter-spacing;
  line-height: 1em;
  cursor: pointer;
  padding: $button-padding;
  margin: $button-margin;
  -webkit-font-smoothing: antialiased;
  border: $button-border;
  //@include border-radius($base-border-radius);
  @include border-radius(500px);
  vertical-align: middle !important;
  width: auto;

  &:visited {
    color: $button-color-visited;
    background: $button-background-color-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $button-color-hover;
    background: $button-background-color-hover;
    border: $button-border-hover;
  }

}

// display: block (width constrained to text width)

.button--block {
  display: block;
  width: auto;
  float: left;
  clear: left;
}

// display: block (always 100% width)

.button--block-full {
  display: block;
}

// small button

.button--small {
  @extend .button;
  padding: $button-small-padding;
}

// big button

.button--big {
  @extend .button;
  padding: $button-big-padding;
  font-size: $button-big-font-size;
}

// transparent button

.button--trans {
  color: $button-trans-color;
  background: $button-trans-background-color;
  border: $button-trans-border;

  &:visited {
    color: $button-trans-color;
    background: $button-trans-background-color;
    border: $button-trans-border;
  }
  &:hover,
  &:focus,
  &:active {
    color: $button-trans-color-hover;
    background: $button-trans-background-color-hover;
    border: $button-trans-border-hover;
  }

}

// white button
// adding the !important,
// so it over-rides the default input[type="submit"] settings
// pertinent on front-page.php template

.button--white {
  color: $button-background-color !important;
  background: white !important;
  border: $button-trans-border !important;

  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $button-background-color !important;
    background: white !important;
    border: $button-trans-border !important;
  }

}

// Override submit buttons for a default input type=submit
// to give it a more reasonable width on desktop
.button--submit {
  margin-top: 2rem;
  width: 100% !important;
  max-width: 300px !important;
}
