/**
 * Layout - Grid
 */

.single-column {
  margin: 0 auto;
  width: 100%;
  max-width: $single-col-width;
  text-align: left;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Mobile-First 12-column Grid
 */

.grid {
  width: 100%;
  text-align: left;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Mobile-first single column grid
// Added unique class for the header
[class*='col-'],
[class*='headercol-'] {
  float: none;
  width: 100%;
  margin-right: 0;
}

// Until we're above this breakpoint
@media only screen and (min-width: $bp-grid-cols) {

  // Generate all the column widths
  @for $column from 1 through $grid-columns {
    .col-#{$column} {
      width: (($grid-col-width * $column) + (($column - 1) * $grid-gutter) * 1%)
    }
  }

  // Add multi-column settings
  [class*='col-'] {
    float: left;
    margin-right: $grid-gutter * 1%;
    .grid &:last-of-type {
      margin-right: 0;
    }
    border-collapse: collapse !important;
  }

}

// ----------- And for the header

// Until we're above this breakpoint
@media only screen and (min-width: $bp-header) {

  // Generate all the column widths
  @for $column from 1 through $grid-columns {
    .headercol-#{$column} {
      width: (($grid-col-width * $column) + (($column - 1) * $grid-gutter) * 1%)
    }
  }

  // Add multi-column settings
  [class*='headercol-'] {
    float: left;
    margin-right: $grid-gutter * 1%;
    .grid &:last-of-type {
      margin-right: 0;
    }
    border-collapse: collapse !important;
  }

}

/**
 * Optional Portfolio Display
 */

.grid--portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // mobile first
  .gpitem {

    flex-basis: 100%;

    @media only screen and (min-width: 600px) and (max-width: 799px) {
      flex-basis: 50%;
      padding: 1rem;
    }

    @media only screen and (min-width: 800px) {
      flex-basis: 33.333333%;
      padding: 1rem;
    }

  }

  /*
  p {
    border: 1px solid pink;
    padding: 20px;
    margin-bottom: 0;
  }
  */

}

/**
 * Split content inside a single column
 */

.grid--flex {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .gfitem-1,
  .gfitem-2 {
    flex-basis: 100%;
  }

  .gfitem-1 {
    text-align: center;
    padding-bottom: 2rem;
  }

  // And some image settings
  // to force display and alignment in single column
  .gfitem-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $bp-grid-cols) {

    flex-direction: row;

    .gfitem-1 {
      flex-basis: 30%;
      padding-bottom: 0;
    }

    .gfitem-2 {
      flex-basis: 70%;
      padding-left: 2rem;
    }

  }

}




