/**
 * Layout - Header
 */

// ----------- Force the z-index on the header content,
// ----------- so the menus are always on top.

.header,
.header * {
  @extend .z7;
}

/*
.site-title {}
.site-title {}
.site-description {}

.site-branding {}
.site-branding .site-title {}
.site-branding .site-description {}
*/

.site-header {
    border-top: 20px solid white;
    border-bottom: 10px solid white;
}

.logo--header {
    max-width: 400px;
}
