/**
 * Layout - Header
 */

// Force the z-index on the header content,
// so the menus are always on top.

.site-header,
.site-header * {
  @extend .z7;
  font-family: $sans;
}

/*
.site-title {}
.site-title {}
.site-description {}

.site-branding {}
.site-branding .site-title {}
.site-branding .site-description {}
*/

.site-header {

    // mobile first
    border-top: 20px solid white;
    border-bottom: none;

    // tablet + up
    @media only screen and (min-width: 768px){
        border-bottom: 20px solid white;
    }

}

/*
All elmenu styles are in: /vendor/elmenu.scss

*/

.header__logo {

    // mobile first
    float: none;
    display: block;
    width: 100%;
    text-align: center;

    // tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px) {}

    // desktop
    @media only screen and (min-width: 1100px){
        float: left;
        display: inline-block;
        width: auto;
    }

}

.logo--header {

    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    // bigger
    @media only screen and (min-width: 500px) {
        max-width: 400px;
    }

    // desktop
    @media only screen and (min-width: 1100px){
        margin-left: 0;
        margin-right: 0;
    }

}

.header__nav {

    // mobile first
    float: none;
    display: block;
    width: 100%;

    // tablet
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
        text-align: center;
    }
    // desktop
    @media only screen and (min-width: 1100px){
        width: auto;
        float: right;
        display: inline-block;
        text-align: right;
        margin-top: 1.35rem;
        //border: 2px solid red;
    }

}

// This element is not currently in use
.navholder--utility {
   display: none;
   @media only screen and (min-width: $elmenu-mobile-breakpoint){
      display: block;
      background-color: $elmenu-navutility-background;
      nav {
         float: left;
         display: inline-block;
      }
      .nav--social {
         float: right;
         display: inline-block;
      }
   }

}

.navholder--main {

    display: none;

    @media only screen and (min-width: $elmenu-mobile-breakpoint){
        display: block;
        background-color: white;
    }
    // desktop
    @media only screen and (min-width: 1100px){
        display: inline-block;
    }

}

.elmtoggle__holder,
.elmtoggle__holder--mobile {
   display: block;
   width: 100%;
   text-align: right;
   padding: 1rem 1rem .75rem 1rem;
   //border-bottom: 1px solid white;
}

.elmtoggle__holder {
   background-color: $ava-brand-color-dark;
   text-align: center;

    span,
    a {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    span {
        color: white;
        vertical-align: bottom !important;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1em;
        margin-right: 1rem;
    }

}

.elmtoggle__holder--mobile {
   background-color: $ava-brand-color-dark;
   border-bottom: 1px solid white;

    span,
    a {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    span {
        color: white;
        vertical-align: bottom !important;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1em;
        margin-right: .5rem;
    }

}

// We only need to hide the toggle holder that replaces the desktop nav
// It's fine if we leave the mobile (close) toggler alone. It's going to hide
// with the mobile nav at the appropriate size.
.elmtoggle__holder {
   @media only screen and (min-width: $elmenu-mobile-breakpoint){
      display: none;
   }
   a {
      text-decoration: none;
   }
}

// Control the icon size (both desktop & mobile)
.elmtoggle__icon {
   width: auto;
   height: 1.5rem;
   display: inline-block;
   vertical-align: top;
}










