/**
 * Ava theme styles
 *
 * 1. Sandbox to work out styles before moving them into partials.
 * 2. Admin/Theme Customization Styles
 *
 */

// ----------- pesticide debug helper

$debug: false;

@if $debug == true {

  * {
    outline: 1px solid orange;
  }
  .container {
    border: 2px solid red;
  }

}

// ----------- ACF Failure

.noacf {
   font-style: italic;
   color: #999;
}


// ----------- 1. Sandbox

header,
footer {
    //font-family: $elmenu-font-family;
}

// Remove this from the meta display in posts
.entry-meta {

   time.updated,
   .byline {
      display: none;
   }

}

// Set up a side-by-side display posts in the blog feed
// with a featured image
.entry-content {}

// ----------- 2. Admin / Theme Customization

/**
 * Center all Meta-Sliders
 */
.metaslider {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Styles per specific page
 */

// Helping Hands of Little Angels

.hh__topquote {
  border: 2px solid $aa-color-7;
  padding: 3rem;
}
