/**
 * Ava theme styles
 *
 * 1. Sandbox to work out styles before moving them into partials.
 * 2. Admin/Theme Customization Styles
 *
 */

// ----------- pesticide debug helper

$debug: false;

@if $debug == true {

  * {
    outline: 1px solid orange;
  }
  .container {
    border: 2px solid red;
  }

}

// ----------- Color classes

.aa-color-1 { color: $aa-color-1; } // #EF899C
.aa-color-2 { color: $aa-color-2; } // #E8707D
.aa-color-3 { color: $aa-color-3; } // #E23D69

.aa-color-4 { color: $aa-color-4; } // #FCD700
.aa-color-5 { color: $aa-color-5; } // #D4FCC3
.aa-color-6 { color: $aa-color-6; } // #BFCF31
.aa-color-7 { color: $aa-color-7; } // #72BF44

.aa-grey-1 { color: $aa-grey-1; } // #eee
.aa-grey-2 { color: $aa-grey-2; } // #ccc
.aa-grey-3 { color: $aa-grey-3; } // #888
.aa-grey-4 { color: $aa-grey-4; } // #444

// ----------- ACF Failure

.noacf {
   font-style: italic;
   color: #999;
}


// ----------- 1. Sandbox

body.blog footer.entry-footer {

  .comments-link {
    display: none;
  }

}

// Center all Meta-Sliders
.metaslider {
  margin-left: auto;
  margin-right: auto;
}

// Helping Hands of Little Angels
.hh__topquote {
  border: 2px solid $aa-color-7;
  padding: 3rem;
}

/**
 * Contact Form 7 output
 */

// change color of the success div
div.wpcf7-mail-sent-ok {
  border-color: $aa-color-7 !important;
}

// increase the padding on the output div
div.wpcf7-response-output {
  padding: 2em !important;
  font-size: 1.5rem !important;
  line-height: 1.5em !important;
}

// checkbox styles
span.wpcf7-checkbox span.wpcf7-list-item {
  margin-left: 0;
}

span.wpcf7-checkbox span.wpcf7-list-item input[type="checkbox"] {
  margin-right: .5em;
}
