/**
 * Ava theme styles
 *
 * 1. Sandbox to work out styles before moving them into partials.
 * 2. Admin/Theme Customization Styles
 *
 */

// ----------- pesticide debug helper

$debug: false;

@if $debug == true {

  * {
    outline: 1px solid orange;
  }
  .container {
    border: 2px solid red;
  }

}

// ----------- ACF Failure

.noacf {
   font-style: italic;
   color: #999;
}


// ----------- 1. Sandbox

header,
footer {
    //font-family: $elmenu-font-family;
}

// Control the meta display in posts

.entry-meta {

  // hide the byline
  .byline {
     display: none;
  }

  // hide the double time tag
  .posted-on {
    a {
      time:nth-child(2) {
        display: none;
      }
    }
  }

}

body.blog footer.entry-footer {

  .comments-link {
    display: none;
  }

}

// Set up a side-by-side display posts in the blog feed
// with a featured image
.entry-content {}

// ----------- 2. Admin / Theme Customization

/**
 * Center all Meta-Sliders
 */
.metaslider {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Styles per specific page
 */

// Helping Hands of Little Angels

.hh__topquote {
  border: 2px solid $aa-color-7;
  padding: 3rem;
}
