/**
 * Front Page (front-page.php)
 */

.container--masthead {
   background-image: linear-gradient(-180deg, #FFFFFF 29%, #F0D60A 54%, #BFCF31 100%);
   margin-bottom: 3rem;
}

.masthead {
    background: transparent url('img/frontpage-flowers.svg') bottom center no-repeat;
    background-size: 90%;
    .masthead__top {
        position: relative;
        img {
            @extend .z1;
            max-width: $wrap-wide-max-width;
            margin-right: auto;
            margin-left: auto;
            border: 10px solid rgba(252, 215, 0, 0.25);
        }
        .masthead__caption-holder {
            @extend .z2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .masthead__caption {
        @extend .z2;
        width: 100%;
        h1 {
            color: white;
            margin-right: auto;
            margin-left: auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            max-width: 800px;
            text-shadow: -3px 3px 4px rgba(0, 0, 0, 0.5);
            font-size: $h5;
            @media only screen and (min-width: 600px) and (max-width: 870px) {
                font-size: $h2;
            }
            @media only screen and (min-width: 870px) {
                font-size: $h1;
            }
        }
        a {
            display: block;
            max-width: 60%;
            margin-right: auto;
            margin-left: auto;
            padding: 1rem 1rem .85rem 1rem;
            font-size: .75rem;
            @media only screen and (min-width: 600px) {
                max-width: 40%;
                font-size: .85rem;
                padding: 1.25rem 1rem 1rem 1rem;
            }
            @media only screen and (min-width: 768px) {
                display: inline-block;
                margin-right: 1rem;
                padding: $button-padding;
                max-width: auto;
            }
            &:last-of-type {
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .masthead__tagline {
        text-align: center;
        position: relative;
        @extend .z4;
        h3,
        h6 {
            margin-left: auto;
            margin-bottom: 0;
            margin-right: auto;
            width: 100%;
            max-width: 1200px;
            color: white;
            position: relative;
            @extend .z4;
        }
        h3 {
            padding-top: 2rem;
            padding-bottom: 1rem;
            font-size: $h5;
            padding-left: 2rem;
            padding-right: 2rem;
            @media only screen and (min-width: 768px) and (max-width: 1440px) {
                padding-top: 3rem;
                font-size: $h4;
            }
            @media only screen and (min-width: 1440px) {
                font-size: $h3;
            }
        }
        h6 {
            padding-bottom: 2rem;
            font-weight: $fw-normal;

            @media only screen and (min-width: 768px) and (max-width: 1440px) {
                padding-bottom: 3rem;
            }
        }
    }
}

/**
 * Our Inspiration
 */
.container--home__inspiration {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: transparent url('img/frontpage-flowers-inspiration.svg') bottom right no-repeat;
    background-size: 95%;

    @media only screen and (min-width: 100px) and (max-width: 900px) {
        background-size: 95%;
    }

    @media only screen and (min-width: 900px) and (max-width: 1200px) {
        background-size: 75%;
    }

    @media only screen and (min-width: 1200px) {
        background-size: 55%;
    }

    .home__inspiration--title {
        background: transparent url('img/aa-icon-flower.svg') top left no-repeat;
        padding-left: 80px;
        line-height: 1em;
        @media only screen and (min-width: 1440px) {
            padding-left: 90px;
        }
    }

}

/**
 * Ava's photo ( changed this to a global setting in images.scss )
 */
.home__inspiration--holder {
    text-align: center;
}

.home__inspiration {
    display: inline-block;
    border: $base-border-width $base-border-style $aa-color-4;
    border-radius: 50%;
    width: 100%;
    max-width: 340px;
}

/**
 * Our Mission
 */
.home__mission--title {
    background: transparent url('img/aa-icon-mission.svg') top left no-repeat;
    padding-left: 60px;
    @media only screen and (min-width: 1440px) {
        padding-left: 70px;
    }
}

/**
 * News & Events
 */
.home__newsevents--title {
    background: transparent url('img/aa-icon-newsevents.svg') top left no-repeat;
    padding-left: 60px;
    @media only screen and (min-width: 1440px) {
        padding-left: 75px;
    }
}

.home__newsevents--post-title {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.home__newsevents--date {
    color: black;
}

// the thumbnail
.attachment-home-featured-post {
    margin-bottom: 2rem;
}

.home__newsevents--excerpt p {}
.home__newsevents--excerpt p:first-child {
    margin-bottom: 1rem;
}
