/**
 * Global
 * Styled modules that might appear on any page/post
 */

.container--newsletter {
    background-color: $aa-color-6;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.container--newsletter,
.single-column {
    text-align: center;

    fieldset {
        width: 100%;
        background-color: white;
        padding: 1rem;
        @include border-radius(500px);
        border: none;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }

    }

    input,
    button {
        margin: 0;
    }

    input {
        margin-left: 1rem;
        //border: 1px solid red;
    }

    button {
        margin-left: 1rem;
        border: none;
    }

}
