/**
 * Global
 * Styled modules that might appear on any page/post
 */

/**
 * Newsletter Sign-Up
 */
.container--newsletter {
    background-color: $aa-color-6;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.container--newsletter,
.single-column {
    h4 {
        color: $aa-color-5;
    }
    p {
        color: white;
        font-style: italic;
    }
    text-align: center;
    fieldset {
        width: 100%;
        background-color: white;
        padding: .5rem;
        @include border-radius(500px);
        border: none;
        .newsletter__form {
            display: flex;
            flex-direction: row;
            label {
                display: none;
            }
            input,
            button {
                margin: 0;
            }
            input {
                flex-basis: 90%;
                margin-left: 3rem;
                //border: 1px solid red;
            }
            button {
                margin-left: 1rem;
                border: none;
                width: auto;
            }
        }
    }
}
