/**
 * Post Styles
 */

.post {

   padding-bottom: 2rem;
   border-bottom: $base-border;
   margin-bottom: 3rem;

   &:last-of-type {
      padding-bottom: none;
      border-bottom: none;
   }

   .entry-header {

      .entry-meta {

         margin-bottom: 1rem;

         // hide the byline
         .byline {
            display: none;
         }

         // hide the double time tag
         .posted-on {
            a {
               time:nth-child(2) {
                  display: none;
               }
            }
         }

      }

   }

   .entry-title a {
      text-decoration: none;
   }

   .entry-content {}

   .entry-footer {}

}

// except for single posts

.single .post {
   padding-bottom: 0;
   border-bottom: none;
   //margin-bottom: 3rem;
}

// previous / next nav on a single post

.post-navigation {
   margin-bottom: 3rem;
   .nav-links {
      .nav-previous {
         margin-bottom: .5rem;
         &::before {
            content: "Previous Post: ";
         }
      }
      .nav-next {
         &::before {
            content: "Next Post: ";
         }
      }
   }
}
