/**
 * Post Styles
 */

.post {

   .entry-header {

      .entry-meta {

         margin-bottom: 1rem;

         // hide the byline
         .byline {
            display: none;
         }

         // hide the double time tag
         .posted-on {
            a {
               time:nth-child(2) {
                  display: none;
               }
            }
         }

      }

   }

   .entry-title a {
      text-decoration: none;
   }

   .entry-content {}

   .entry-footer {
      margin-bottom: 3rem;
   }

}
