/**
 * Post Styles
 */

.post {

   .entry-header {

      .entry-meta {
         margin-bottom: 1rem;
      }

   }

   .entry-title a {
      text-decoration: none;
   }

   .entry-content {}

   .entry-footer {
      margin-bottom: 3rem;
   }

}
